<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>

  <connectionStrings>
    <add name="MapTubeDSqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=MapTubeD;Data Source=.\SQLEXPRESS2012" />
    <add name="MapTubeDSqlServer2" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=MapTubeD2;Data Source=.\SQLEXPRESS2012" />
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
